/*
================================================================================
  mini-bio-pipeline | nextflow.config
================================================================================
*/

// Default process settings
process {
    cpus   = 4
    memory = '8 GB'
    time   = '2h'
}

// Conda settings
conda.enabled    = true
conda.useMamba   = false
conda.createTimeout = '1 h'

// Execution report
report {
    enabled = true
    file    = "reports/execution_report.html"
}

// Timeline report
timeline {
    enabled = true
    file    = "reports/timeline.html"
}

// Pipeline metadata
manifest {
    name        = 'mini-bio-pipeline'
    author      = 'Emre Keskin'
    description = 'Long-read sequencing QC pipeline'
    version     = '1.0.0'
    nextflowVersion = '>=23.10.0'
}
